<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence version="3.0" 
	xmlns="https://jakarta.ee/xml/ns/persistence" 
	xmlns:ns2="https://jakarta.ee/xml/ns/persistence/orm" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd
						https://jakarta.ee/xml/ns/persistence/orm https://jakarta.ee/xml/ns/persistence/orm/orm_3_0.xsd" 
>
    <persistence-unit name="org.jvnet.hyperjaxb.ejb.tests.episodes.b">
        <class>org.jvnet.hyperjaxb.ejb.tests.episodes.a.AType</class>
        <class>org.jvnet.hyperjaxb.ejb.tests.episodes.a.A1Type</class>
    </persistence-unit>
</persistence>
